.App {
  background-color: #080808;
  color: whitesmoke;
  height: 100%;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

.nav-link-text {
  color: whitesmoke;
  style: none;
  font-size: 18px;
  position: absolute;
  top: 37px;
}

.nav-link-text:hover{
  color:firebrick
}

.logo{
  font-family: 'Shrikhand', cursive;
  font-size: 40px;  
  color: firebrick
}

.logo:hover{
  color: whitesmoke;
}

.link{
  color: whitesmoke;
  style: none;
}

.link:hover{
  color: firebrick
}

nav {
  display: flex;
  justify-content: space-around;
  align-content: center;
  height: 100px;
}

.searchbox-container {
  height: 120px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
}

.inner-search-container {
  width: 500px;
  height: 90px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbox {
  align-self: center;
  width: 300px;
  height: 37px;
  border-radius: 4px;
}

.main-card-container {
  display: flex;
  height: 490px;
}

footer {
  height: 50px;
  border-top: 2px solid whitesmoke;
  text-align: end;
}

.main {
  height: 674px;
}

.cards-container-container {
  display: flex;
  justify-content: center;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  width: 1300px;
  flex-wrap: wrap;
  overflow: scroll;
}

.card {
  background-color: white;
  height: 250px;
  width: 250px;
  margin: 10px;
  border-radius: 2px
}

.form-container {
  text-align: center;
}

.form-item{
  margin: 20px;
}

.form-input{
  width: 300px;
  height: 37px;
  border-radius: 4px;
}

.about-container{
  text-align: end;
  padding-top: 4%;
  width: 50%;
}

.text-item{
  text-align: initial;
  padding-top: 5%;
  padding-left: 5%;
  font-size: 22px;
}

#photo-one{
  height: 300px;
  width: auto;
  position: absolute;
  left: 200px;
}

#photo-two{
  height: 360px;
  width: auto;
  position: absolute;
  left: 80%;
  bottom: 240px;
}


#photo-three{
  height: 350px;
  width: auto;
  position: absolute;
  left: 50%;
  bottom: 60px;
}

.hustlers{
  color: gray;
}

